<!DOCTYPE html>
<html>
<head>
	<title>BLOG WEBSITE</title>
</head>
<body>
    <%- include('header'); -%>
  <h1>
      HI Everyone 
  </h1>
  <p> <%= aboutMe %> </p>
<!-- 
 <%  for(var i=0; i< Posts.length ; i++) {%>
   <% console.log(Posts[i].Titleof); %>
  <% }; %>
  -->
  <!-- <% Posts.forEach(function(Post){ %>
    <h1><%= Post.Titleof %> </h1>
    <p> <%= Post.Content %> </p>
  <% }) %>
   -->
  <%- include('footer'); -%>


</body>
</html>